# npm
npm-debug.log
node_modules

# Project
_build
.tmp
.sass-cache
angularjs-app/app/bower_components
angularjs-app/app/styles/bootstrap
.cache

# OS/Application specific files
.sublime-project
.sublime-workspace
.dropbox
desktop.ini
Thumbs.db
/.project
.DS_Store

# dev mode disable package.lock
package-lock.json
