{# Form(data) #}
{% from "components/formcomponents/utils.njk" import setInput %}
{% from "components/formcomponents/Field.njk" import Field %}
{% from "components/formcomponents/Fieldset.njk" import Fieldset %}

{% macro Form(data) %}

{% set title = data.title %}
{% set fields = data.fields %}

<form name="{{ title }}" title="{{ title }}">

  {% for field in fields %}
    {% set Input = setInput(field) %}
    {% set type = field.type %}

    {% if type === "fieldset" %}
      {{ Fieldset(field) }}
    {% else %}
      {{ Field(field, Input) }}
    {% endif %}
  {% endfor %}

</form>
{% endmacro %}
