{# Form(form) #}
{% from "components/formcomponent/index.njk" import FormComponent %}

{% macro Form(form) %}

  {% set title = form.title %}
  {% set fields = form.fields %}

  <form name="{{ title }}" title="{{ title }}">

    {% for fieldData in fields %}
      {{ FormComponent(fieldData) }}
    {% endfor %}

  </form>
{% endmacro %}
