{# Form(data) #}
{% from "components/formcomponents/Field.njk" import Field %}
{% from "components/formcomponents/Text.njk" import Text %}
{% from "components/formcomponents/Textarea.njk" import Textarea %}
{% from "components/formcomponents/Select/index.njk" import Select %}

{% macro Form(data) %}

{% set title = data.title %}
{% set fields = data.fields %}

<form name="{{ title }}" title="{{ title }}">

  {% for field in fields %}
    {% set Input = null %}
    {% set type = field.type %}

    {% if type === "text" %}
      {% set Input = Text(field) %}
    {% endif %}

    {% if type === "textarea" %}
      {% set Input = Textarea(field) %}
    {% endif %}

    {% if type === "select" %}
      {% set Input = Select(field) %}
    {% endif %}

    {{ Field(field, Input) }}
  {% endfor %}

</form>
{% endmacro %}
