<header class="site-header">
  <div class="brand">
    <span class="brand-name">WCAG-EM Report Tool</span>
    {% include "components/branding.njk" %}
  </div>
  {% include "components/menu-bar.njk" %}
</header>
