{% from "./Text.njk" import Text %}

{# Field(props, [Input]) #}
{% macro Field(props, Input) %}

  {% set type = props.type %}
  {% set id = props.id %}
  {% set label = props.label %}
  {% set Description = props.Description %}

  <div class="field">
    {# label: required with id #}
    {% if (label and id) %}
      <label for="{{ id }}" class="field__label">
        {{ label }}
      </label>
    {% endif %}

    {# Description: optional | This is the helptext if supplied #}
    {% if Description %}
      <div class="field__description">
        {# HTML allowed #}
        {{ Description | safe }}
      </div>
    {% endif %}

    {# Input: id required | This should be an htmlFormElement #}

    {% if Input %}
      {{ Input }}
    {% else %}
      {{ Text(props) }}
    {% endif %}
  </div>

{% endmacro %}
