<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}WCAG Report Tool{% endblock %}</title>

    <base href="/" target="_self" />
  </head>

  <body>
    {% include "modules/site-header.njk" %}

    <main>

      {% include "modules/evaluation-process.njk" %}
      {% block mainContent %}{% endblock %}

    </main>

    {% include "modules/site-footer.njk" %}

    {# <script src="../app.js"></script> #}
  </body>
</html>
